@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

body {
  font-family: "Roboto";
}

* {
  border: red solid 1px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  width: 1000px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: #1f2937;
  color: #e5e7eb;
}

.hero-text-and-image {
  display: flex;
  width: 1000px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-text-big {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero-text-small {
  font-size: 18px;
  color: #e5e7eb;
  margin-right: 10px;
}

.hero-button {
  width: 100px;
}

img {
  width: 500px;
}

ul {
  margin-left: auto;
  color: #e5e7eb;
  display: flex;
  list-style: none;
  gap: 16px;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 10px 18px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.draw-card {
  border: #3882f6 solid 2px;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.card-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-text {
  margin-top: 10px;
  width: 150px;
  height: auto;
  text-align: center;
}

.card-title {
  display: flex;
  justify-content: center;
  font-weight: 1000;
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 16px;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

.quote-text {
  width: 1000px;
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937;
}

.quote-author {
  margin-left: 300px;
  font-weight: 900;
}

.content {
  display: flex;
  flex-direction: column;
}
