button {
  background-color: #3882f6;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  padding: 10px 18px;
}

.card div {
  border: #3882f6 solid 2px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
}
